{% extends 'baseTheatreViewQr.html.twig' %}

{% block title %}Confirmation de suppression{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/JavaScript.js') }}"></script>
{% endblock %}

{% block body %}
{{ parent() }}

<div class="example-wrapper">
    <div class="container">
    <p class="fs-3 mt-3 text-white">Confirmation de suppression :</p>
        <p class="text-white">Voulez-vous vraiment supprimer cet ouvreur ?</p>
        <form method="post" action="{{ path('app_delete_ouvreur_admin', {'id': ouvreur.id}) }}">
            <button type="submit" class="btn bg-dark btn-danger">Supprimer</button>
            <a onclick="goBack()" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
