{% extends 'baseVisitor.html.twig' %}

{% block title %}Donner un pourboire{% endblock %}

{% block body %}
    {{ parent() }}



    <p class="fs-2 mt-3 titre ">Je donne un pourboire pour :</p>
    <p class="fs-4 text-dark ">Les ouvreurs et ouvreuses du</p>
    <p class="fs-4 bg-theatre mb-4"> {{ theatreNom }}</p>

    <form class ="text-center" id="payment-form" method="POST">

        <div class="btn-group mb-3" role="group" aria-label="Proposer un montant">
            <button type="button" class="btn btn-light btn-outline-dark" id="montant-1">1€</button>
            <button type="button" class="btn btn-light btn-outline-dark" id="montant-2">2€</button>
            <button type="button" class="btn btn-light btn-outline-dark" id="montant-3">3€</button>
        </div>
        <div class="input-group flex-nowrap mb-4">
            <span class="input-group-text" id="addon-wrapping">€</span>
            <input type="number" id="tip_amount" name="tip_amount" class="form-control border-dark" placeholder="Je donne un autre montant" aria-label="Je donne un autre montant" aria-describedby="addon-wrapping" step="0.5" min="0" required>
        </div>
        <input type="hidden" name="id" value="{{ id }}" />
        <div class="d-flex justify-content-center">
            <button class="btn btn-dark mx-1" type="submit" id="pay-cb">Payer par CB</button>
        </div>

    </form>

    <script>

        var formulaire = document.getElementById('payment-form');

        document.getElementById('pay-cb').addEventListener('click', function() {
            formulaire.action = '/checkout';
            formulaire.submit();
        });

        document.getElementById('pay-lydia').addEventListener('click', function() {
            formulaire.action = '/lydia-payment';
            formulaire.submit();
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#montant-1').click(function() {
                $('input[type="number"]').val(1);
            });

            $('#montant-2').click(function() {
                $('input[type="number"]').val(2);
            });

            $('#montant-3').click(function() {
                $('input[type="number"]').val(3);
            });
        });
    </script>




    <div>

    </div>
{% endblock %}
